# v0.24.3
#Limiting TRL to 0.14.0 prevents the Training Error "index out of range"
numpy==1.26.4
pandas==2.2.1
torch
trl==0.14.0
vllm==0.7.3
llama_cpp_python[server]==0.3.6 -C cmake.args='-DGGML_CUDA=on -DGGML_NATIVE=off'
instructlab[cuda]==0.24.3